.gallery
  .gallery-inner
    .nav
      .submissions-container.pull-right
        span.quiet-header Submissions 
        a(href="mailto:marc@smallredtile.com") marc@smallredtile.com
    
      a(href="/") &larr; Editor
    
    
    .gallery-header Flowpen Gallery
  
    .gallery-container
      .pure-g
      
        each item in items      
          .pure-u-1-3
            .gallery-item(data-id=item.id)
              .gallery-thumbnail
                img(src=("/thumbnails/"+item.id+".png"))
              h2 #{item.title}
              p #{item.description}