div#sidebar
  .tool-header Visualization
  .tool-section(role='visualizations')
    .tool-header Tools
  .tool-section
    .tool-button(role='tool-wall')
      .tool-button-contents Wall
    .tool-button(role='tool-inlet')
      .tool-button-contents Inlet
  .tool-header Sensors
  .tool-section
    #button-sensor-pressure
    #button-sensor-velocity