div#sidebar
  .tool-header Tools
  .tool-section
    div#wall-tool-container
    div#inlet-tool-container
  .tool-header Controls
  .tool-section
    div#clear-control-container
  
  #sidebar-bottom
    div.tagline Flowpen is for exploring fluid dynamics.
    div.bottom-buttons
      span.btn Share
      span.btn.btn-special Gallery
    div
      div.quiet-header Contact 
      a marc@smallredtile.com
  