div#sidebar
  .tool-header Tools
  .tool-section
    div#wall-tool-container
    div#inlet-tool-container
  .tool-header Controls
  .tool-section
    div#clear-control-container
  
  #sidebar-bottom
    div.tagline Flowpen is for exploring fluid dynamics.
    div.bottom-buttons
      div.btn.btn-special Gallery
      
      div.btn(data-hook="share")
        span Create shareable link
      
    div
      div.quiet-header Contact 
      div
        a 
          i.fa.fa-envelope-o
          |  marc@smallredtile.com
    
      div
        a
          i.fa.fa-twitter
          |  @flowpen