div#sidebar
  .tool-header Tools
  .tool-section
    div#wall-tool-container
    div#inlet-tool-container
  .tool-header Visualization
  .tool-section
    div#streamlines-control-container
  .tool-header Controls
  .tool-section
    div#clear-control-container

  #sidebar-bottom
    div.tagline Flowpen is for exploring fluid dynamics.

    div.contact-container
      div.quiet-header.contact-header Contact
      div.contact-item
        i.fa.fa-envelope-o
        a(href="mailto:marc@rvit.co") marc@rvit.co
      div.contact-item
        i.fa.fa-github
        a(href="https://github.com/marcpare/flowpen") Open Source!