/*
z-index
-------
99: under-bar
100: sim-container
101: overlay
102: snacks
*/

/* Global styles */

body { 
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  margin: 0; 
  height: 100%;
  overflow: hidden;
  background: #ddd;
}
a {
  cursor: pointer;
}
.spectral {
  pointer-events: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Simulation canvas */

#c { 
  background-color: #ccc;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
#scale-frame {
  pointer-events: all;
}
#c {
  z-index: 100;
}
#simulation {
  z-index: 100;
  position: absolute;
  left: 230px;
  right: 0;
  top: 0;
  bottom: 0;
}
#sidebar { 
  background-color: #424242;
  color: #f3f3f3;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 230px;
  top: 0;
  bottom: 0;
  width: 230px;
  padding: 0px;
}
#framerate-container { position: absolute; right: 4px; top: 0px; background: none; color: #666; }
.tool-header {
  background: #616161;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0px; 
  padding: 3px 0px;
}
.tool-section { 
  padding: 0px 10px;
}
.tool-button {
  background: #616161;
  color: #f3f3f3;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 3px 1px;
  border-radius: 3px; 
  font-family: arial;
  text-transform: uppercase;
}
.tool-button:hover {
  background: #757575;
}
.tool-button:active, .tool-button-selected, .tool-button-selected:hover {
  background: #E91E63;
}
.tool-button-contents {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#snack-container {
  z-index: 102;
  position: absolute;
  bottom: 30px;
  left: 260px;
}
.snack {
  background: #4b5155;
  padding: 16px 24px;
  color: #f3f3f3;
}
.snack a {
  color: #E91E63;
  text-decoration: none;
  text-transform: uppercase;
}
.snack-action {
  cursor: pointer;
  padding-left: 20px;
}

/* Editor elements */

.arrow {
  stroke: black;
  stroke-width: 0.5;
  marker-end: url(#markerArrow);
}
.arrow.hover {}
.bound {
  fill: none;
  stroke-width: 0.1;
}
.bound.hover {
  stroke: #f0fbff;
}
.bound.dragging {
  stroke: #f0fbff;
}
.sensor-label {
	fill: white; 
	font-size: 3px;
}
