div
  #under-bar
    .tool-header Visualization
    .tool-section(role='visualizations')
      .tool-header Tools
    .tool-section
      .tool-button(role='tool-wall')
        .tool-button-contents Wall
      .tool-button(role='tool-inlet')
        .tool-button-contents Inlet
    .tool-header Sensors
    .tool-section
      #button-sensor-pressure
      #button-sensor-velocity

    #sketch

  #sim-container
    #framerate-container

    svg#overlay.spectral
      defs
        marker#markerArrow(markerwidth='13', markerheight='13', refx='2', refy='6', orient='auto')
          path(d='M2,3 L2,10 L10,6 L2,3 Z', style='stroke:#000000; fill:none;')    
      path#arrow1(d='M0,0 L0,-40 h5 l-5,-12 l-5,12 h5', style='')
      g#overlay-g
    
    canvas#c
  
  #snack-container