table.tb-table(style="width: #{model.width}px; height: #{model.height}px")
  
  - var x = 0
  - var y = 0
  while y < height
    tr
      - x = 0
      while x < width
        td #{u[I(x, y)].toFixed(3)} <br> #{v[I(x, y)].toFixed(3)}
        - x++
    - y++